#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

a:hover {
    color: black; /* Define a cor da fonte para preto quando o mouse passa por cima */
}

@media screen and (max-width: 768px) {
  button, a {
    min-width: 44px;
    min-height: 44px;
    padding: 10px;
  }
  
  input, textarea {
    min-width: 200px;
    min-height: 40px;
    padding: 10px;
  }
  
  img {
    min-width: 100px;
    min-height: 100px;
  }
}

